# Services:
# Admin Console, Database, Public Server
version: '3.1'

services:
  dotupdate-db:
    build:
      context: .
      dockerfile: Dockerfile.database
    expose:
      - "3306"
    ports:
      - "3306:3306"
    image: mysql/mysql-server:8.0
    logging:
      driver: none
    healthcheck:
        test: nc -z -v dotupdate-db 3306
        interval: 30s
        timeout: 30s
        retries: 10
    volumes:
      - ./db/setup_database.sql:/docker-entrypoint-initdb.d/0_init.sql
    env_file:
      - .env

  dotupdate-public:
    build:
      context: ./public/.
      dockerfile: Dockerfile
    expose:
      - "9010"
    ports:
      - "9010:9010"
    volumes:
      - ./public:/app

  dotupdate-admin:
    build:
      context: ./admin/.
      dockerfile: Dockerfile
    expose:
      - "9000"
    ports:
      - "9000:9000"
    volumes:
      - ./admin:/app
    env_file:
      - .env